.container__card{
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
    padding: 8px;
}



.img-card{

    width: auto;
    height: 300px;

}
.card-info{


    display: flex;
    flex-direction: column;
  }

