*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;


    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
.custom-card {
    width: 13rem; /* ou a largura que você preferir */
    height: auto; /* Isso fará com que todos os cards tenham a altura baseada no conteúdo */
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    border: none;
    margin-left: 3px;
    /* Organiza o conteúdo do card em uma coluna */
  }

  .custom-card .card-body {
    flex: 1; /* Isso fará com que o corpo do card preencha todo o espaço vertical disponível */
  }

.botao-card{
    padding-top: 1rem;
}
  .card-title {
    min-height: 3rem; /* Ajuste conforme necessário para acomodar títulos maiores */
    overflow: hidden;
   /* Isso impedirá que o texto do título derrame para fora do seu contêiner */
  }

.img-card {
   width: 100%;
    height: 255px;
    object-fit: cover; /* Isso irá manter a proporção da imagem e cobrir o contêiner */
}
.produtos{

    padding-top: 2rem;
    padding-bottom: 4rem;


}
.container__card {
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
    padding: 8px;
    margin-bottom: 2rem;
    gap: 24px;
}


.card-body {
    max-height: 100px; /* Defina uma altura máxima para o corpo do card */
    overflow: hidden;
}


.card-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.container__card a {
    display: flex;
    align-items: center;
    text-align: center;
}

.container-categoria{

    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
 }

 /* botoes next e preveiw*/
 .owl-nav {
   /* Ajuste a distância em relação à borda direita conforme necessário */
    display: flex;
    align-items: center;

}

.owl-nav button {
    background: none; /* Define um fundo transparente para os botões */
    border: none; /* Remove a borda */
    padding: 0; /* Remove o preenchimento */
    margin: 5px;
    cursor: pointer;
}

.owl-nav button:focus {
    outline: none; /* Remove o contorno (borda) quando o botão está em foco */
}

.owl-nav i {
    font-size: 28px;
    color: #249ef0de; /* Cor dos ícones */
}

.owl-nav i:hover {
    color: #0056b3; /* Cor dos ícones ao passar o mouse */
}


/*tela de login*/
 .logopng {
    width: 150px;
    height: 150px;
    margin-left: 120px;
 }

.botaoRegistrar {
    padding: 1rem;
    margin: 10px;

}



/*LOGIN*/
.form-signin {

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin img {
    width: 100px;
    align-items: center;
    justify-content: center;

}


/* Estilos Adicionais */
.item {
    text-align: center;
}
.categorias a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
}
.categorias a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .categorias a {
        display: block; /* Faz com que cada categoria ocupe uma linha inteira em dispositivos móveis */
        margin-bottom: 10px;
    }
}

/* Demais estilos ... */



talhe*/



.product-container {
    max-width: 900px;

}

.img-fluid{
    border-radius: 5%;
}

.product-details {
display: flex;
justify-content: center;
 padding: 20px;
  border: none;
}

.price {
    font-size: 1.5em;
    color: #333;
}

.description {
    margin-bottom: 20px;
}



.product-thumbnails  img {
    cursor: pointer;
display: inline;
    max-width: 90px;
}



.container-about{
    width: 80%;
            margin: auto;
            padding: 20px;
        }
.header-about{
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}









.container-footer  {

background-color: #333;
    color: white;
text-align: center;
  }
.container-footer .nav .nav-item .nav-link{
    color: white;
    text-decoration: none;
}
 .container-footer .nav .nav-item .nav-link:hover {
    color: rgb(82, 70, 72);
  }


  @media screen and (max-width: 490px) {
    .row {
      flex-direction: column;
    }
    /* Add additional styles for larger screens here */
  }
